<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap-css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.css">
    <link rel="stylesheet" href="../../assets/css/sidebar.css">

    <!-- //bootstrap-css -->
    
</head>
<body>
    <script>
        var htmlImport = document.querySelector('link[rel="import"]');
        var htmlDoc = htmlImport.import;
        var htmlMessage = htmlDoc.querySelector('.main-menu');
        document.body.appendChild(htmlMessage.cloneNode(true));
    </script>
    <!-- <link rel="stylesheet" href="menu.html"/> -->

<div class="container">
    <h2 style="text-align: center">เมนู</h2>
    <br>
    
</div>
</body>
</html>
