<!DOCTYPE html>
<html>
<head>
    <title>Accounting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/sidebar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
    <nav class="sidenav">
    <ul>
        <li>
            <a href="../../menu.html">
                <!-- <i class="fa fa-home fa-2x"></i> -->
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <!-- <i class="fa fa-laptop fa-2x"></i> -->
                <span class="nav-text">Accounting</span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="../department/menuDepartment.html">
                <!-- <i class="fa fa-list fa-2x"></i> -->
                <span class="nav-text">Department</span>
            </a>
            
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="../../login.html">
                <!-- <i class="fa fa-power-off fa-2x"></i> -->
                <span class="nav-text">Logout</span>
            </a>
        </li>  
    </ul>
    </nav>
    <div class="main">
        <div style="padding-top: 20px; text-align: center; margin-bottom: 5%">
            <h2>Accouting Menu</h2>
        </div>
        <div class="row">
            <div class="column">
                <a href="./saleCategory.html">
                    <div class="card">
                    <h3>Sale Category</h3>
                    <p></p>
                    <p>จัดการประเภทสินค้า</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="./saleContract.html">
                    <div class="card">
                    <h3>Sale Contract</h3>
                    <p></p>
                    <p>กำหนดราคา Supplier</p>
                    </div>
            </div>
            <div class="column">
                <a href="./saleView.html">
                    <div class="card">
                    <h3>Sale List</h3>
                    <p></p>
                    <p>รายการขาย</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="./saleReport.html">
                    <div class="card">
                    <h3>Sale Report</h3>
                    <p></p>
                    <p>รายงานการขาย</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>