<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sales</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap-css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    
</head>
<body>

<div class="container">
    <h2 style="text-align: center">รายการขาย</h2>
    <br>
    <div class="col-5" style="margin-left: 30%">
    <form action="/action_page.php">
        <div class="form-group form-inline">
            <label class="col-4">รหัสสาขา</label>
            <input class="form-control col-4" value="10101">
            <label class="col-4">ทองหล่อ</label>
        </div>
        <!-- <div class="form-group form-inline">
            <label class="col-4">รหัสสาขาสิ้นสุด</label>
            <input class="form-control col-4" value="10101">
            <label class="col-4">ทองหล่อ</label>
        </div> -->
        <div class="form-group form-inline">
            <label class="col-4">วันที่เริ่มต้น</label>
            <input class="form-control col-4" value="01/03/2019">
        </div>
        <div class="form-group form-inline">
            <label class="col-4">วันที่สิ้นสุด</label>
            <input class="form-control col-4" value="31/03/2019">
        </div>
        <div class="form-group form-inline">
            <input type="submit" class="btn btn-primary mx-auto" value="แสดงรายการ">
        </div>
    </form>
    </div>
</div>
<br>
<div class="container">
    <div class="col-7" style="margin-left: 22%">
    <table class="table">
    <thead>
        <tr>
        <th>รหัสsupplier</th>
        <th>ชื่อsupplier</th>
        <th>น้ำหนัก(กก.)</th>
        <th>จำนวนเงิน</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>111</td>
        <td>เก็บลัง</td>
        <td>23</td>
        <td>230</td>
        </tr>
        <tr>
        <td>222</td>
        <td>เก็บกระดาษ</td>
        <td>43</td>
        <td>443</td>
        </tr>
        <tr>
        <td>333</td>
        <td>เก็บไม้</td>
        <td>13</td>
        <td>123</td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
</body>
</html>
