<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap-css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    
</head>
<body>

<div class="container">
    <div class="form-group form-inline"></div>
    <h2 style="text-align: center">สร้างกลุ่มผู้ใช้งาน</h2>
    <br>
    <div class="col-5" style="margin-left: 30%">
    <form action="/action_page.php">
        <div class="form-group form-inline">
            <label class="col-4">ชื่อกลุ่มผู้ใช้งาน</label>
            <input class="form-control col-7" value="เจ้าหน้าทีบัญชี">
        </div>
        <div class="form-group form-inline">
            <label class="col-4">แผนกการใช้งาน</label>
            <select class="form-control col-7" id="sel1">
                <option>บัญชี</option>
                <option>ธุรการภาค</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <input type="submit" class="btn btn-success mx-auto" value="บันทึก">
        </div>
    </form>
    </div>
</div>
</body>
</html>
